<component name="ArtifactManager">
  <artifact type="war" name="springTutorial:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springTutorial.war">
      <element id="artifact" artifact-name="springTutorial:war exploded" />
    </root>
  </artifact>
</component>